.sbtopts
.vscode

### Scala ###
/**/*.log

# sbt specific
lib/
target/
project/project/
project/build.properties
**/project/target/*

#IDEA
.idea/

akka-diagnostics

.metals/
.bloop/

#vi tmp files
*.swp

#apple finder files
**/.DS_Store

.bsp