.sbtopts
.vscode

### Scala ###
/**/*.log

# sbt specific
lib/
target/
project/project/
project/build.properties
**/project/target/**
target/**
#IDEA
.idea/

akka-diagnostics

.metals/
.bloop/

#vi tmp files
*.swp

#apple finder files
**/.DS_Store

.bsp

flink-1.12.3/log/*
kafka_2.12-2.3.1/logs/*